.wrap{
    height: 600px;
    widows: 600px;
    background-color: blue;
    position: relative;
}
.block{
    height:50px;
    width:100px;
    background-color:white;
    position: absolute;
}
.center{
    top:50%;
    left:50%;
    transform: translate(-50%,-50%)
}